@model Website1.Models.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="~/assets/images/image1.png" width="100%">
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-4">
                    <div class="row justify-content-md-center">
                        <div class="col-md-5">
                            @using (Html.BeginForm("Register", "LoginAndRegister", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Register</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Username)
                                            @Html.TextBoxFor(m => m.Username, "", new { @class = "form-control", @placeholder = "Username" })
                                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "badge badge-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email)
                                            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge badge-danger" })

                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password)
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" name="submit" class="btn btn-danger" value="Register" />
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" name="submit" class="btn btn-danger" value="Register" />
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
